/* ---------------------------------------------------------------------
 Colors
----------------------------------------------------------------------*/

@textColor: #222;
@light: rgba(106, 123, 145, 1);
@dark: rgba(52, 62, 77, 0.95);
@normal: rgba(72, 82, 97, 0.7);
@normalOpaque: rgba(72, 82, 97, 1);


.contentBox {
	background-color: @normal;
	box-shadow: 0 25px 50px rgba(30, 30, 30, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	color: #fff;
	position: relative;
	border-radius: 5px 5px 5px 5px;
}





.dashboardBox {
  .label, .badge {
    background-color: @dark;
  }
}


body {
  background-color: @light;
}

#content, #smallContent, .feature div, .dashboardBox, .box, .detailView {
    .contentBox;
}


footer {
    background-color: @dark;
}

.nav a.active, .nav a:hover {
	color: @dark;
}




/* ---------------------------------------------------------------------
 Popover
----------------------------------------------------------------------*/
.popover {
  color: @textColor !important;
}

.modal {
  background-color: @normalOpaque;
  .table {
    input {
      color: @textColor;
    }
  }
  .close {
    color: white;
  }
}

.modal-footer {
  background-color: @dark;
}

.dropdown-menu {
  background-color: @dark;
}






/* ---------------------------------------------------------------------
 Tree
----------------------------------------------------------------------*/

.roundSeperator {
  background-color: @dark !important;
}

.ui-draggable-helper {
  background-color: @dark;
}

.filterView {
  input {
    color: @textColor;
  }
}