<div class="modal fade" id="popup">
 <div class="modal-dialog">
 <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
 </div>
 </div>
</div>
