<div class="modal fade" id="popup">
  <div class="modal-header">
    <span class="carousel-control right" data-dismiss="modal">
      <i class="icon-remove"></i>
    </span>
    <h3 id="myModalLabel">###title###</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</div>