/* ---------------------------------------------------------------------
 Green Colors
----------------------------------------------------------------------*/

@textColor: #222;
@light: rgba(65, 130, 65, 1);
@dark: rgba(15, 90, 15, 0.95);
@normal: rgba(45, 130, 45, 0.7);
@normalOpaque: rgba(45, 130, 45, 1);