@grainUrl: "../img/grain.png";

.backgroundGradient(@color) {
  background-image: url(@grainUrl), -moz-linear-gradient(top, @color 0%, @light 100%); /* FF3.6+ */
  background-image: url(@grainUrl), -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color), color-stop(100%,@light)); /* Chrome,Safari4+ */
  background-image: url(@grainUrl), -webkit-linear-gradient(top,  @color 0%,@light 100%); /* Chrome10+,Safari5.1+ */
  background-image: url(@grainUrl), -o-linear-gradient(top,  @color 0%,@light 100%); /* Opera 11.10+ */
  background-image: url(@grainUrl), -ms-linear-gradient(top,  @color 0%,@light 100%); /* IE10+ */
  background-image: url(@grainUrl), linear-gradient(to bottom,  @color 0%,@light 100%); /* W3C */
}

.gradient(@from, @to) {
  background: -moz-linear-gradient(top, @from 0%, @to 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@from), color-stop(100%,@to)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  @from 0%,@to 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  @from 0%,@to 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  @from 0%,@to 100%); /* IE10+ */
  background: linear-gradient(to bottom,  @from 0%,@to 100%); /* W3C */
}

.inset-box-shadow(@x1, @x2, @x3, @x4, @color) {
  -webkit-box-shadow: inset @x1 @x2 @x3 @x4 @color;
  -moz-box-shadow: inset @x1 @x2 @x3 @x4 @color;
  box-shadow: inset @x1 @x2 @x3 @x4 @color;
}

.box-shadow(@x1, @x2, @x3, @x4, @color) {
  -webkit-box-shadow:  @x1 @x2 @x3 @x4 @color;
  -moz-box-shadow:  @x1 @x2 @x3 @x4 @color;
  box-shadow:  @x1 @x2 @x3 @x4 @color;
}

.placeholder(@color) {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: @color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color: @color;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: @color;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color: @color;
  }
}

.underline {
  border-bottom: 1px solid @dark;
  box-shadow: 0 1px 0 0 fade(@textColor, 20%);
}

/* ---------------------------------------------------------------------
Colors
----------------------------------------------------------------------*/

.fadedBox {
  background-color: fade(@dark, 20%);
  border: 1px solid fade(@dark, 30%);
}

.contentBox {
  background-color: @normal;
  position: relative;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid darken(@light, 8%);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.3), 0 7px 12px 0 darken(@light, 10%);
}

// @media (min-width: @screen-sm-min) {
//   .contentBox(@color) when (lightness(@color) < 60%) {
//     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//   }
// }



.dashboardBox {
  .label, .badge {
    color: @footerText;
    background-color: @dark;
  }
}

body:before {
  // .backgroundGradient(@dark);
  // background-position: center top;
  // position: fixed;
  // width: 100%;
  // height: 300px;
  // z-index: -10;
  // content: "";
}

body {
  background-color: @light;
  color: @textColor;
}

.container-normal, .container-small, .feature div, .dashboardBox, .box, .detailView, .loading-screen-inner {
  .contentBox;
  color: @textColor;
}

.footer-shadow(@color) when (lightness(@color) < 60%) {
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

legend {
  // border-bottom: 2px solid fade(@dark, 30%);
  // box-shadow: 0 1px rgba(255, 255, 255, 0.2);
  .underline;
}


code, pre, .dynamicTextField, legend {
  color: @textColor !important;
}

code, pre {
  .fadedBox;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: fade(@dark, 12%);
}

/* ---------------------------------------------------------------------
Popover
----------------------------------------------------------------------*/
.popover {
  background-color: @normalOpaque !important;
  color: @textColor !important;
  .popover-title {
    background-color: @normalOpaque !important;
    color: @textColor !important;
    font-weight: bold;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  .table {
    input {
      color: @textColor;
    }
  }
  .close {
    color: @textColor;
    opacity: 1;
  }
}

.modal-content {
  background-color: @normalOpaque;
}

.modal-footer {
  background-color: @normalOpaque;
  border-top: 2px solid fade(@dark, 30%);
}

.modal-header {
  .underline;
}

.dropdown-menu {
  background-color: darken(@dark, 8%);
  color: @footerText !important;
  a {
    color: inherit;
  }
}



/* ---------------------------------------------------------------------
Bootstrap
----------------------------------------------------------------------*/

.navbar {
  background-color: @dark;
  // .gradient(lighten(@dark, 8%), @dark);
  a {
    color: @footerText;
  }
  border-top: 5px solid darken(@dark, 8%);
}
.dropdown-menu > li > a {
  color: @footerText;
}

.dropdown-header {
  color: @footerText;
  font-weight: bold;
}

.dropdown-menu .divider {
  background-color: @dark;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: darken(@dark, 8%);
}

.navbar-toggle {
  color: @footerText;
}

.navbar-brand:hover {
  background-color: darken(@dark, 8%);
  color: @footerText;

}

.nav-list > .active > a, .nav-list > .active > a:hover {
  background-color: darken(@dark, 8%);
  color: @footerText;
  border-radius: 5px;
}
.nav-list > li > a, .nav-list .nav-header {
  text-shadow: none;
  border-radius: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: darken(@dark, 8%);
  color: fadein(@footerText, 100%);
}

.nav-list > li > a {
  color: @textColor;

}
.nav-header {
  color: @textColor;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

// .btn-inverse {
//   background-color: @dark !important;
//   color: @footerText;
//   border: 1px solid darken(@dark, 5%);
// }

// .btn-inverse:hover, .btn-inverse:focus {
//   background-color: darken(@dark, 10%) !important;
//   color: @footerText;
//   outline: 0;
// }

.btn-inverse, .input-group-addon, .selection-item {
  background-color: fade(@textColor, 5%) !important;
  color: @textColor;
  border: 1px solid fade(@textColor, 25%);
  border-radius: 2px;
  // .box-shadow(0px, 0px, 0px, 1px, rgba(0,0,0,0.39));
  .inset-box-shadow(0px, 0px, 0px, 1px, darken(@normal, 5%));
}

.btn-inverse:hover, .btn-inverse:focus, .input-group-addon:hover, .selection-item:hover {
  // background-color: rgba(0,0,0,0.0) !important;
  color: @textColor;
  border: 1px solid fade(@textColor, 50%);
  .box-shadow(0px, 0px, 1px, 1px, fade(@textColor, 10%));
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-color: @dark;
  color: @footerText;
  background-image: none;
}


.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover,
.bootstrap-datetimepicker-widget td:hover, 
.bootstrap-datetimepicker-widget td span:hover, 
.bootstrap-datetimepicker-widget thead tr:first-child th:hover, 
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
  background-color: @dark;
  color: @footerText;
}

.progress {
  background-color: @textColor;
}

/* ---------------------------------------------------------------------
Form
----------------------------------------------------------------------*/
.form-control, .form-control[disabled], .form-control[readonly] {
  background-color: darken(@normal, 5%);
  color: @textColor;
  border: 1px solid fade(@textColor, 25%);
  border-radius: 2px;
  // .box-shadow(0px, 0px, 0px, 1px, rgba(0,0,0,0.39));
  .inset-box-shadow(0px, 0px, 1px, 1px, darken(@normal, 10%));
}

.form-control:hover, .form-control:active, .form-control:focus,
input:hover, input:active, input:focus {
  border: 1px solid fadeout(@textColor, 50%);
  .box-shadow(0px, 0px, 1px, 1px, fade(@textColor, 10%));
  // outline: none;
  // box-shadow: none;
}
input {
.placeholder(fadeOut(@textColor, 20%));
}

/* ---------------------------------------------------------------------
Tree
----------------------------------------------------------------------*/

.ui-draggable-helper {
  background-color: @dark;
  color: @footerText;
}

.filterView {
  input {
    color: @textColor;
  }
}
.actionBar {
  //background-color: rgba(0, 0, 0, 0.1);
  color: @textColor;
}

.round {
  color: @footerText;
}

.roundItem table input {
  color: @textColor;
}

.roundItem input, .roundItem {
  color: @footerText;
}

.round-item-table, .detailView .table, .table-striped{
  thead {
    th {
      input {
        color: @footerText !important;
      }
      color: @footerText !important;
      // .gradient(lighten(@dark, 8%), @dark);
      background-color: @dark;
    }
  }
}
.detailView .table, .table-striped{
  thead {
    th {
      background-color: @dark;
      border-top: 3px solid darken(@dark, 8%) !important;
    }
  }
}

.roundItem table input.result-textfield {
  .form-control;
  width: 14px;
  max-width: 14px;
}

.roundSetting .close {
  color: @textColor;
  opacity: 1;
}

.roundSeperator {
  background-color: @dark;
  color: @footerText;
}

.detailView {
  .table 
  .table tbody tr:hover {
    background-color: darken(@normal, 1%);
    color: @textColor;
  }
  
  .tableTable {
    td {
      border-bottom: 1px solid fade(@dark, 30%);
    }
  }

  .tableSchedule {
    .matchday-separator {
      .underline;
    }
    .matchday-separator:hover {
      background-color: rgba(0,0,0,0) !important;
    }
  }
  .closeButton {
    color: @textColor;
  }
  a {
    color: @textColor;
    text-decoration: none;
  }
  a:hover {
    color: @textColor;
    text-decoration: underline;
  }
}

.rank-cell {
      // .gradient(lighten(@dark, 8%), @dark);
  // color: @normalOpaque;
  // width: auto;
}

.btn-link {
  color: @textColor;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none;
}
.btn-link:hover {
  color: @textColor;
  text-decoration: none;
}


// .box-shadow(@color) when (lightness(@color) < 60%) {
//   box-shadow: 0 10px 20px rgba(30, 30, 30, 0.4), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
// }

.box {
  // .box-shadow(@normal);
}
